h1{
    background-color: yellowgreen;
    /* height:50px;
    width:400px; */
    border:2px solid black
}
@media(width:400px){
    h1{
        background-color: red;
        color:white;
    }
}
@media(min-width:700px){
    h1{
        background-color: blue;
    }
}
@media(max-width:300px){
    h1{
        background-color: pink;
    }
}
@media (min-width:200px) and (max-width:250px) {
    h1{
        background-color:black;
        color:white;
    }
}
@media(orientation:landscape){
    h1{
        background-color: lawngreen;
        color:white;
    }
}