*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}
.main_box{
    background: url("photo.jpg");
    height:100vh;
}
.btn_one i{
    color: white;
    font-size:30px;
    font-weight: 700;
    position:absolute;
    left:16px;
    line-height:60px;
    cursor:pointer;
    transition: all 0.2s linear;
}
.sidebar_menu{
    position: fixed;
    left:-350px;
    height:100vh;
    width:300px;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0px 0px 6px rgba(255,255,255,0.5);
    transition: all 0.3s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width:100%;
    line-height:60px;
    box-shadow: 0px 0px 3px rgba(255,255,255,0.5);
    height: 60px;
}
.sidebar_menu .logo a{
    position:absolute;
    left:50px;
    color:white;
    text-decoration: none;
    font-size:20px;
    font-weight: 500;
}
.sidebar_menu .btn_two i{
    color:white;
    font-size:25px;
    line-height:60px;
    position:absolute;
    left:275px;
    opacity:0;
    cursor:pointer;
}
.sidebar_menu .menu{
    position:absolute;
    color:white;
    width:100%;
    top:80px;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding:10px 20px;
}
.sidebar_menu .menu i,a{
    color:white;
    text-decoration: none;
    font-size:20px;
}
.sidebar_menu .menu i{
    padding-right: 8px;
}
.sidebar_menu .social_media{
    position:absolute;
    left:25%;
    bottom:50px;
}
.sidebar_menu .social_media i{
    color:wheat;
    opacity: 0.7;
    padding:0px 5px;
}
#check{
    display:none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0px 0px 3px rgba(255,255,255,0.5);
}
.btn_one:hover{
    font-size:40px;
}
.btn_two:hover{
    font-size:30px;
}
.sidebar_menu .social_media i:hover{
    opacity:1;
    transform: scale(1.5);
}
#check:checked ~.sidebar_menu{
    left:0px;
}
#check:checked ~.btn_one{
    opacity:0;
}
#check:checked ~.sidebar_menu .btn_two i {
    opacity:1;
}