body{
    text-align: center;
}
.btn{
    width:8rem;
    height:8rem;
    border:8px solid black;
    border-radius:20%;
    margin:20px;
}
.main{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}
.green{
    background-color: #63aac0;
}
.yellow{
    background-color: #f99b45;
}
.purple{
    background-color:#819ff9;
}
.red{
    background-color:#d95980;
}

.flash{
    background-color: white;
}
.userflash{
    background-color:green;
}